<div *ngIf="!prescriptionList" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table class="table" *ngIf="prescriptionList">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prescription Number</th>
            <th scope="col">Advice</th>
            <th scope="col">Medicine</th>
            <th scope="col">Remark</th>
            <th scope="col">Action</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prescription of prescriptionList;let i = index">
            <th scope="row">{{i}}</th>
            <td>{{prescription.prescriptionNumber}}</td>
            <td>{{prescription.advice}}</td>
            <td>{{prescription.medicine}}</td>
            <td>{{prescription.remark}}</td>
            <td><button (click)="setSelectedPrescription(prescription)" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" class="btn btn-danger">Remove</button></td>
            <td><button (click)="editPrescription(prescription)" class="btn btn-info">Edit</button></td>


        </tr>

    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4 text-center">
                <h5 class="mb-0">Are you sure delete this ?</h5>
                <p class="mb-0">You can not reverse your action again.</p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button (click)="removePrescription() " type="button"
                    class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                    data-bs-dismiss="modal"><strong>Yes,
                        delete</strong></button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                    data-bs-dismiss="modal">No thanks</button>
            </div>
        </div>
    </div>
</div>